@import "bootstrap/bootstrap.less";

body {
  padding-top: 60px;
  padding-bottom: 40px;
}

@import "bootstrap/responsive.less";


/* ===== Primary Styles ========================================================
   Author:
   ========================================================================== */


@groc: #FFEE02;
@groc2: #FECD02;
@grisclar: #AAAAAA;
@gris34: #454545;
@grismig: #333;
@grisfosc: #151515;
@fonsseccio: #1D1B1C;
@padding-main: 63px 30px 0px 59px;

body {
    background-color: @fonsseccio;
    font-weight:normal;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;

}

html {overflow:hidden;}

a:focus { 
    outline: none; 
}

h2:focus {
 outline: none;  
}

.popover {
  z-index:2001;
}

.container.main {
    width:auto;
    margin-top:18px;
}

.navbar-fixed-top .container {
    width:auto;
    background-color: black;    
}    

#home {
  background-color: @groc;
  background-image: url('../img/fons_portada.jpg');
  background-repeat: no-repeat;
  background-position: left bottom;
  color:@grismig;
  height:auto;
    h1 {
         font-family: "InterstateLightCondensed", "Verdana";
         font-weight:normal;
         width:600px;
         line-height:58px;
         font-size: 90px;
         strong {
           font-family: "InterstateBlackCondensed", "Verdana";
           font-weight:normal;
           font-size: 90px;
           display:block;
           width:300px;
           line-height:73px;
         }
       }
   .accordion-inner {
       position:relative;    
       object {
        border:20px solid black;
           position:absolute; 
           top:50px;
           right:50px;
           z-index:0;
       }

   }    
   .padder {
      padding: @padding-main;
   }

}

#peuhome {
    height:29px;
    background-image: url('../img/peu_home.png');
    background-repeat: repeat-x;
    position:absolute;
    bottom:0px;
    width:100%;
}


.accordion {
    margin-bottom:0px;

}

.accordion-group {

    border:none;
    margin-bottom:0px;
    background-color:@fonsseccio;
    .accordion-heading {
        position:relative;
        background-image: url('../img/textura_fons_titols.gif');
        background-repeat: repeat;
        padding:8px 30px 12px 60px;
        border-bottom:1px solid @grismig;

        a {text-decoration:none;}
        h2 {
            font-family: "InterstateBoldCondensed", "Verdana";
            font-weight:normal;
            color:@groc2;
            font-size:30px;
            line-height:30px;
        }

        h3 {
            font-family: "InterstateRegular", "Verdana";
            font-weight:normal;
            color:white;
            font-size:20px;
            line-height:20px;
            display:none;
        }

        .toggle-section {
            float:right;
            margin-top:-40px;
        }


    }
    &#impactes {
        .accordion-heading {
            border-top:1px solid @grismig;
            height:29px;
        }
    }
}


.athome #impactes .accordion-heading {height:64px;}

.accordion-inner {
    border:none;
    padding:0px;
    position:relative;
}


.accordion-heading {
    .accordion-toggle {
        position:relative;
        padding:0;
    }
}

.loader {
display:none;
position:absolute;
top: 0px;    
left:50%;
}

i.fletxa {
        background-image: url('../img/fletxa_desplega_inactiva.png');
        background-repeat: repeat-none;
        width:34px;
        height:33px;
        display:block;
        float:right;
        position:absolute;
        top:9px;
        right:20px;
        &:hover {
            background-image: url('../img/fletxa_desplega_activa.png');
        }
}

.visible i.fletxa {
        top:15px;
        background-image: url('../img/fletxa_plega_inactiva.png');
        &:hover {
            background-image: url('../img/fletxa_plega_activa.png');
        }

}


#accordion2.athome {
    .accordion-heading {
        h2 {
            font-size:45px;
            line-height:45px;
        }
        h3 {
            display:block;
        }
    }

}


.fadepanel {
 display:none;
}

.accordion-group.visible {
    position:relative;
    .accordion-heading {
        background-image: none;
        background-repeat: none;
        border-bottom:none;
        position:relative;
        h2 {
            float:left;
            font-size:45px;
            line-height:45px;

        }

        h3 {
            font-size: 20px;
            line-height: 23px;
            display:block;
        }
    }

    &#impactes { h3 { margin-left:220px; width:250px; height:66px; }

        .accordion-toggle {
            float:left;
        }
                 
         .fadepanel {
         display:block;
         position:absolute;                    
         width:100%;
         height:100%;
         opacity:1;                 
         }

        #map {
         background-image: url(../img/fons_mapa_1170.jpg);
         background-position: center center;
         background-repeat: no-repeat;          
         background-size: 100%;                    
          -webkit-transition-property: opacity;
          -webkit-transition-duration: 1s;
          -webkit-transition-timing-function: ease-in-out;  
          -moz-transition-property: opacity;
          -moz-transition-duration: 1s;
          -moz-transition-timing-function: ease-in-out;

         &.dissolve { opacity: 0;  
                      -webkit-transition-property: opacity;
                      -webkit-transition-duration: 1s;
                      -webkit-transition-timing-function: ease-in-out;
                      -moz-transition-property: opacity;
                      -moz-transition-duration: 1s;
                      -moz-transition-timing-function: ease-in-out;  }
        }

        .pin {
            background-image:url(../img/punt_localitzacio.png);
            width:28px;
            height:39px;
            position:absolute;
            z-index:2000;
            cursor:pointer;
        }

                    
                    .back{ background-image: url(../img/fletxa_esquerra_inactiu.png );
                                background-repeat: no-repeat;
                                background-position: 20px center;
                                display:block; float:left; padding: 0px;
                                width:45px; height:38px;
                                margin:5px 0px 0px 15px;
                                border-left:1px solid @grisclar;
                                &.active    { background-image: url(../img/fletxa_esquerra.png); }
                              }
                    .forward{ background-image: url(../img/fletxa_dreta_inactiu.png);
                                background-repeat: no-repeat;
                                background-position: 10px center;
                                display:block; float:left; padding: 0px;
                                width:55px; height:38px;
                                margin:5px 0px 0px 0px;
                                border-right:1px solid @grisclar;
                                &.active { background-image: url(../img/fletxa_dreta.png); }                        
                              }
                    .mapa{ background-image: url(../img/boto_mapa_inactiu.png);
                                background-repeat: no-repeat;
                                background-position: 15px center;
                                border-right:1px solid @grisclar;
                                display:block;
                                float:left;                                
                                width:108px; height:38px;
                                margin:5px 0px 0px 0px;
                                &.active    { background-image: url(../img/boto_mapa.png); }                                
                              }
                       
               } 
    &#miratges { h3 { margin-left:220px; width:150px; } }
    &#testimonis { h3 { margin-left:260px; width:180px; } }
}


.navbar .nav {
        font-family: "InterstateRegular", "Verdana";
        font-weight:normal;

        strong {
            font-family: "InterstateBold", "Verdana";
        }
        li a{
            color:@grisclar;
            font-size:12px;
            line-height:12px;
            padding-top:20px;
        }

        li.active a{
            padding-top:20px;
            color:@groc2;
            font-size:20px;
            line-height:8px;
            background-color:transparent;
            &:hover{
                background-color:transparent;
            }
        }
}




.ajuntament {
     font-family: "InterstateRegular", "Verdana";
     font-weight:normal;
     font-size: 12px;

     height:30px;
     border-bottom: 1px solid @gris34;
     position: relative;
     width: 100%;
     a {
         color:white;
         text-decoration:none;
     }

     #languages {
            width:100px;
            position:absolute;
            color:white;
            text-decoration:none;
            top: 5px;
            right:10px;
     }
}

.nav-collapse {

    padding-left:50px;
}

#carouselWrapper {
    width: 800px;
    margin: 0 auto;    
    color:white;
    font-family: "InterstateRegular", "Verdana";
    font-weight:normal;
    font-size: 14px;

    #miratgesCarousel {
        .carousel-inner {
            .item {
                .title {text-align: center; padding: 30px 0;}
                .miratge {
                    width:370px;
                    float:left;                        
                    margin-left:20px;
                    text-align: center;
                    span {padding: 30px 0;}
                    img { 
                        padding-bottom:20px; 
                        opacity: 0.8;
                        &:hover {opacity: 1.0;}
                    }                    
                }

            }
        }
    }
}

#carouselNavigation {
    .navitem {
        float:left;
        width:200px;
        margin:40px 0;        
        margin-left:20px;        
        img {
            width:96px;
            float:left;
            margin-right:4px;
            opacity: 0.4;
            &:hover {opacity: 1.0;}            
        }
    }
}


/*SECTIONS*/

#collapseImpactes {
    float:none;
    clear:both;
    .container#bigone {
        opacity: 1;
        margin-top:10px;
        -webkit-transition-property: opacity;
        -webkit-transition-duration: 1s;
        -webkit-transition-timing-function: ease-in-out;    
        -moz-transition-property: opacity;
        -moz-transition-duration: 1s;
        -moz-transition-timing-function: ease-in-out;          
        
        &.dissolve { opacity: 0;  
          -webkit-transition-property: opacity;
          -webkit-transition-duration: 1s;
          -webkit-transition-timing-function: ease-in-out;  
          -moz-transition-property: opacity;
          -moz-transition-duration: 1s;
          -moz-transition-timing-function: ease-in-out;
        }
    }
        


    position:relative;
    .container {
        .row {
            margin: 0px;

            .capcalera {
                margin:0px;
                border:1px #222 solid;
                text-align: center;
                height:60px;                
                margin-bottom:20px;
            }
            .pagina {
                margin:0px;
                border:1px #222 solid;
                text-align: center;
                position:relative;
                .impacte {
                    background-color: transparent;
                    position:absolute;

                    i.emblem {
                        top: 7px;
                        left: 7px;
                        height: 20px;
                        width: 20px;                        
                        background-repeat: no-repeat;
                        position: absolute;
                    }
                    &.single i.emblem {background-image: url(../img/icon_single.png); }
                    &.serie i.emblem  {background-image: url(../img/icon_serie.png); }
                    &.video i.emblem  {background-image: url(../img/icon_video.png); }
                    
                    img { max-width: none;
                         -webkit-border-radius: 5px;
                         -moz-border-radius: 5px;
                         border-radius: 5px;
                    }

                    &.rrcc img { width:230px; height:230px; }
                    &.rcc img  { width:230px; height:110px; }
                    &.rrc img  { width:110px; height:230px; }
                    &.rc img   { width:110px; height:110px; }

                }


            }    

            &#menu {

                .capcalera {
                    height:30px;
                }

                .mapa {
                    background-image:url(../img/fons_mapa_1170.jpg);    
                    background-repeat:no-repeat;
                    background-position: left top;
                    height:960px;
                    position:relative;




                }

                
            }
        }
        
    }
}


@media screen and (min-width : 1170px) {
    .accordion-group.visible#impactes #map { background-image: url(../img/fons_mapa_1920.jpg); }
}
